In [ ]:
# url https://blog.addgene.org/plasmids-101-codon-usage-bias

# I entered them by row to keep track of them

In [1]:
import pandas as pd

In [63]:
# to keep track, wrote them row-wise, going along each row
codonR1 = ["UUU","UUC","UUA","UUG","UCU","UCC","UCA","UCG","UAU","UAC","UAA","UAG","UGU","UGC","UGA","UGG"]
AminoR1 = ["Phe","Phe","Leu","Leu","Ser","Ser","Ser","Ser","Tyr","Tyr","STOP","STOP","Cys","Cys","STOP","Trp"]

data1 = pd.DataFrame(codonR1, AminoR1).reset_index()
data1 = data1.rename(columns = {"index":"Amino Acid", 0:"Codon"})
data1.head()

  Amino Acid Codon
0        Phe   UUU
1        Phe   UUC
2        Leu   UUA
3        Leu   UUG
4        Ser   UCU

In [62]:
codonR2 = ["CUU","CUC","CUA","CUG","CCU","CCC","CCA","CCG","CAU","CAC","CAA","CAG","CGU","CGC","CGA","CGG"]
AminoR2 = ["Leu","Leu","Leu","Leu","Pro","Pro","Pro","Pro","His","His","Gln","Gln","Arg","Arg","Arg","Arg"]

data2 = pd.DataFrame(codonR2, AminoR2).reset_index()
data2  = data2.rename(columns = {"index":"Amino Acid", 0:"Codon"})

data2.head()

  Amino Acid Codon
0        Leu   CUU
1        Leu   CUC
2        Leu   CUA
3        Leu   CUG
4        Pro   CCU

In [34]:
codonR3 = ["AUU","AUC","AUA","AUG","ACU","ACC","ACA","ACG","AAU","AAC","AAA","AAG","AGU","AGC","AGA","AGG"]
AminoR3 = ["Ile","Ile","Ile","Met","Thr","Thr","Thr","Thr","Asn","Asn","Lys","Lys","Ser","Ser","Arg","Arg"]

data3 = pd.DataFrame(codonR3,AminoR3).reset_index()
data3 = data3.rename(columns={"index":"Amino Acid", 0:"Codon"})
data3.head()

  Amino Acid Codon
0        Ile   AUU
1        Ile   AUC
2        Ile   AUA
3        Met   AUG
4        Thr   ACU

In [65]:
codonR4 = ["GUU","GUC","GUA","GUG","GCU","GCC","GCA","GCG","GAU","GAC","GAA","GAG","GGU","GGC","GGA","GGG"]
AminoR4 = ["Val","Val","Val","Val","Ala","Ala","Ala","Ala","Asp","Asp","Glu","Glu","Gly","Gly","Gly","Gly"]


data4 = pd.DataFrame(codonR4, AminoR4).reset_index()
data4 = data4.rename(columns={"index":"Amino Acid", 0:"Codon"})
data4.head()

  Amino Acid Codon
0        Val   GUU
1        Val   GUC
2        Val   GUA
3        Val   GUG
4        Ala   GCU

In [ ]:
# put data frames together

In [66]:

codonChart = pd.concat([data1,data2,data3,data4], sort = False, axis = 0)
codonChart

   Amino Acid Codon
0         Phe   UUU
1         Phe   UUC
2         Leu   UUA
3         Leu   UUG
4         Ser   UCU
5         Ser   UCC
6         Ser   UCA
7         Ser   UCG
8         Tyr   UAU
9         Tyr   UAC
10       STOP   UAA
11       STOP   UAG
12        Cys   UGU
13        Cys   UGC
14       STOP   UGA
15        Trp   UGG
0         Leu   CUU
1         Leu   CUC
2         Leu   CUA
3         Leu   CUG
4         Pro   CCU
5         Pro   CCC
6         Pro   CCA
7         Pro   CCG
8         His   CAU
9         His   CAC
10        Gln   CAA
11        Gln   CAG
12        Arg   CGU
13        Arg   CGC
..        ...   ...
2         Ile   AUA
3         Met   AUG
4         Thr   ACU
5         Thr   ACC
6         Thr   ACA
7         Thr   ACG
8         Asn   AAU
9         Asn   AAC
10        Lys   AAA
11        Lys   AAG
12        Ser   AGU
13        Ser   AGC
14        Arg   AGA
15        Arg   AGG
0         Val   GUU
1         Val   GUC
2         Val   GUA
3         Val   GUG
4         Ala   GCU
5         Ala   GCC
6         Ala   GCA
7         Ala   GCG
8         Asp   GAU
9         Asp   GAC
10        Glu   GAA
11        Glu   GAG
12        Gly   GGU
13        Gly   GGC
14        Gly   GGA
15        Gly   GGG

[64 rows x 2 columns]