In [ ]:
# url https://blog.addgene.org/plasmids-101-codon-usage-bias

# I entered them by row to keep track of them

In [2]:
import pandas as pd

In [14]:
# to keep track, wrote them row-wise, going along each row
codonR1 = ["UUU","UUC","UUA","UUG","UCU","UCC","UCA","UCG","UAU","UAC","UAA","UAG","UGU","UGC","UGA","UGG"]
AminoR1 = ["Phe","Phe","Leu","Leu","Ser","Ser","Ser","Ser","Tyr","Tyr","STOP","STOP","Cys","Cys","STOP","Trp"]

data1 = pd.DataFrame(AminoR1,codonR1).reset_index()
data1 = data1.rename(columns = {"index":"Amino Acid", 0:"Codon"})
data1

   Amino Acid Codon
0         UUU   Phe
1         UUC   Phe
2         UUA   Leu
3         UUG   Leu
4         UCU   Ser
5         UCC   Ser
6         UCA   Ser
7         UCG   Ser
8         UAU   Tyr
9         UAC   Tyr
10        UAA  STOP
11        UAG  STOP
12        UGU   Cys
13        UGC   Cys
14        UGA  STOP
15        UGG   Trp

In [12]:
codonR2 = ["CUU","CUC","CUA","CUG","CCU","CCC","CCA","CCG","CAU","CAC","CAA","CAG","CGU","CGC","CGA","CGG"]
AminoR2 = ["Leu","Leu","Leu","Leu","Pro","Pro","Pro","Pro","His","His","Gln","Gln","Arg","Arg","Arg","Arg"]

data2 = pd.DataFrame(AminoR2,codonR2).reset_index()
#data2  = data2.rename(columns = {"index":"Codon", 0:"AminoAcid"})

data2

   index    0
0    CUU  Leu
1    CUC  Leu
2    CUA  Leu
3    CUG  Leu
4    CCU  Pro
5    CCC  Pro
6    CCA  Pro
7    CCG  Pro
8    CAU  His
9    CAC  His
10   CAA  Gln
11   CAG  Gln
12   CGU  Arg
13   CGC  Arg
14   CGA  Arg
15   CGG  Arg

In [11]:
codonR3 = ["AUU","AUC","AUA","AUG","ACU","ACC","ACA","ACG","AAU","AAC","AAA","AAG","AGU","AGC","AGA","AGG"]
AminoR3 = ["Ile","Ile","Ile","Met","Thr","Thr","Thr","Thr","Asn","Asn","Lys","Lys","Ser","Ser","Arg","Arg"]

data3 = pd.DataFrame(AminoR3,codonR3).reset_index()
data3 = data3.rename(columns={"index":"Amino Acid", 0:"Codon"})
data3.head()

  Amino Acid Codon
0        AUU   Ile
1        AUC   Ile
2        AUA   Ile
3        AUG   Met
4        ACU   Thr

In [6]:
codonR4 = ["GUU","GUC","GUA","GUG","GCU","GCC","GCA","GCG","GAU","GAC","GAA","GAG","GGU","GGC","GGA","GGG"]
AminoR4 = ["Val","Val","Val","Val","Ala","Ala","Ala","Ala","Asp","Asp","Glu","Glu","Gly","Gly","Gly","Gly"]


data4 = pd.DataFrame(codonR4, AminoR4).reset_index()
data4 = data4.rename(columns={"index":"Amino Acid", 0:"Codon"})
data4.head()

  Amino Acid Codon
0        Val   GUU
1        Val   GUC
2        Val   GUA
3        Val   GUG
4        Ala   GCU

In [7]:
# put data frames together

In [9]:

codonChart = pd.concat([data1,data2,data3,data4], sort = False, axis = 0)
codonChart.head()

  Amino Acid Codon
0        Phe   UUU
1        Phe   UUC
2        Leu   UUA
3        Leu   UUG
4        Ser   UCU

In [16]:
codon_dict = {
            
           "UUU" : "F", "CUU" : "L", "AUU" : "I", "GUU" : "V",
    
           "UUC" : "F", "CUC" : "L", "AUC" : "I", "GUC" : "V",
    
           "UUA" : "L", "CUA" : "L", "AUA" : "I", "GUA" : "V",
    
           "UUG" : "L", "CUG" : "L", "AUG" : "M", "GUG" : "V",
    
           "UCU" : "S", "CCU" : "P", "ACU" : "T", "GCU" : "A",
    
           "UCC" : "S", "CCC" : "P", "ACC" : "T", "GCC" : "A",
    
           "UCA" : "S", "CCA" : "P", "ACA" : "T", "GCA" : "A",
    
           "UCG" : "S", "CCG" : "P", "ACG" : "T", "GCG" : "A",
    
           "UAU" : "Y", "CAU" : "H", "AAU" : "N", "GAU" : "D",
    
           "UAC" : "Y", "CAC" : "H", "AAC" : "N", "GAC" : "D",
    
           "UAA" : "STOP", "CAA" : "Q", "AAA" : "K", "GAA" : "E",
    
           "UAG" : "STOP", "CAG" : "Q", "AAG" : "K", "GAG" : "E",
    
           "UGU" : "C", "CGU" : "R", "AGU" : "S", "GGU" : "G",
    
           "UGC" : "C", "CGC" : "R", "AGC" : "S", "GGC" : "G",
    
           "UGA" : "STOP", "CGA" : "R", "AGA" : "R", "GGA" : "G",
    
           "UGG" : "W", "CGG" : "R", "AGG" : "R", "GGG" : "G" 
}